/* The code to apply animation to */
body {
    background-color: black;
    display: flex;
    padding-bottom: 200px;
}

div {
    width: 100px;
    height: 100px;
    justify-content: center;
  }
  
  div:hover {
    animation: animatedLogo 3s ease-in-out;
  }

/* The animation code*/  
  @keyframes animatedLogo {
    0% {
      transform: scale(1);
      filter: hue-rotate(90deg);
    }
    50% {
      transform: scale(1.2);
      filter: hue-rotate(180deg);
    }
    100% {
      transform: scale(1);
      filter: hue-rotate(360deg);
    }
  }