/* The animation code*/
@keyframes animatedLinkedIn {
    0% {
        transform: rotate(0deg) translateY(100px);
    }

    25% {
        translateY(100px);
        filter: hue-rotate(90deg);
    }

    50% {
        translateY(100px);
        filter: hue-rotate(180deg);
    }

    75% {
        translateY(100px);
        filter: hue-rotate(270deg);
    }

    100% {
        translateY(360px);
        filter: hue-rotate(360deg);
    }
}

/* The element to apply the animation to */
div {
    width: 150px;
    height: 150px;
    animation-name: animatedLinkedIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    padding-top: 200px;
}

div img {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}
